{% extends 'base.html' %} {% block title %} Home {% endblock title %} 
{% block body %}

<div class="container my-4">
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Welcome to Sharma Ice Creams!</h1>
        <p class="lead text-muted">Sweetest ice creams in town.</p>
        <p>
          <a
            href="https://www.google.com/maps/search/ice+creams"
            class="btn btn-primary my-2"
            >Locate us</a
          >
          <a
            href="https://urbanplatter.in/product/urban-platter-vegan-gelato-strawberry-ice-cream-450g-450ml-dairy-free-6-servings-per-container-frozen-dessert/?gclid=CjwKCAjwmMX4BRAAEiwA-zM4JrZ3Xu0bUq8hCP_ppwGdBBGLp-2AYLbnTWJpAbuntkkhcpK6roINnRoC9CAQAvD_BwE"
            class="btn btn-secondary my-2"
            >Order online!</a
          >
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="https://source.unsplash.com/900x900/?vanilla"
                class="d-block w-100"
              />

              <div class="card-body">
                <p class="card-text">Vanila Flavoured</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="https://urbanplatter.in/product/urban-platter-vegan-gelato-mango-ice-cream-450g-450ml-dairy-free-6-servings-per-container-frozen-dessert/"
                      class="btn btn-primary my-2"
                      class="btn btn-primary my-2"
                      >Buy</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="https://source.unsplash.com/900x900/?mango"
                class="d-block w-100"
              />
              <div class="card-body">
                <p class="card-text">Mango Flavour</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="https://urbanplatter.in/product/urban-platter-vegan-gelato-mango-ice-cream-450g-450ml-dairy-free-6-servings-per-container-frozen-dessert/"
                      class="btn btn-primary my-2"
                      >Buy</a
                    >
                  </div>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="https://source.unsplash.com/900x900/?Chocolate"
                class="d-block w-100"
              />
              <div class="card-body">
                <p class="card-text">Chocolate Flavoured</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="https://urbanplatter.in/product/urban-platter-vegan-gelato-strawberry-ice-cream-450g-450ml-dairy-free-6-servings-per-container-frozen-dessert/"
                      class="btn btn-primary my-2"
                      >Buy</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="https://source.unsplash.com/900x900/?Strawberry"
                class="d-block w-100"
              />
              <div class="card-body">
                <p class="card-text">Strawberry Flavoured</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="https://urbanplatter.in/?post_type=product&s=URBAN+PLATTER+VEGAN+GELATO%2C+S&asp_active=1&p_asid=3&p_asp_data=1&current_page_id=1464679&woo_currency=INR&qtranslate_lang=0&filters_changed=0&filters_initial=1&customset%5B%5D=product&asp_gen%5B%5D=title&asp_gen%5B%5D=excerpt"
                      class="btn btn-primary my-2"
                      >Locate us</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="https://source.unsplash.com/900x900/?dessert"
                class="d-block w-100"
              />
              <div class="card-body">
                <p class="card-text">Ice Cream Sundae</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="https://urbanplatter.in/?post_type=product&s=URBAN+PLATTER+VEGAN+GELATO%2C+S&asp_active=1&p_asid=3&p_asp_data=1&current_page_id=1464679&woo_currency=INR&qtranslate_lang=0&filters_changed=0&filters_initial=1&customset%5B%5D=product&asp_gen%5B%5D=title&asp_gen%5B%5D=excerpt"
                      class="btn btn-primary my-2"
                      >Locate us</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="https://source.unsplash.com/900x900/?Sweets"
                class="d-block w-100"
              />
              <div class="card-body">
                <p class="card-text">Butterscotch Flavoured</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="https://urbanplatter.in/?post_type=product&s=URBAN+PLATTER+VEGAN+GELATO%2C+S&asp_active=1&p_asid=3&p_asp_data=1&current_page_id=1464679&woo_currency=INR&qtranslate_lang=0&filters_changed=0&filters_initial=1&customset%5B%5D=product&asp_gen%5B%5D=title&asp_gen%5B%5D=excerpt"
                      class="btn btn-primary my-2"
                      >Buy</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock body %}

